h1 {
  color: green;
  background-color: grey;
  border-bottom: 2px solid #333
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: lightgreen;
}
.center-text {
    text-align: center;
}
