html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.fixed-header {
    position: fixed;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px; /* Adjust as needed */
    background-color: darkgrey;
    box-sizing: border-box;
    z-index: 1000; /* Ensure it's on top of other content */    
}

.left-image, .right-image {
    display: flex;
    gap: 10px; /* Adjust the space between images as needed */   
}

.left-image {
    justify-content: flex-start; /* Align images to the left */
    margin-left: 70px;
}

.right-image {
    justify-content: flex-end; /* Align images to the left */
    margin-right: 70px;
}
    

body {
    background-color: white;
    margin: 0;
    padding: 0;
    padding-top: 20px; /* Should match .fixed-header height */
}

.left-strip,
.right-strip {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 60px; /* Adjust width as needed */
    background-color: #5b6063;
    z-index: 1001;
}

.left-strip {
    left: 0;
}

.right-strip {
    right: 0;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /* Remove default margin */
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr auto; /* Adjust columns as needed */
    grid-template-areas: "left middle right";
    height: 120px; /* Set the height as needed */
    margin: 60px; /* Adjust as needed */
}

.left-element { 
    padding: 5px;
    height: 100%; /* Ensures equal height */
    grid-area: left;   
}

.right-element {  
    padding: 5px;
    height: 100%; /* Ensures equal height */
    grid-area: right;
}

.collapsible-container {
    margin: 60px; /* Adjust as needed */
}

.collapsible {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

.content {
    padding: 18px;
    display: none; /* Hidden by default */
    overflow: hidden;
    background-color: #f9f9f9;
    transition: max-height 0.2s ease-out;
}
.content.active {
    display: block;
}
